* {
    /* max-width: 100%;
    height: auto; */
    /* border: 1px solid black; */
}
html {
    scroll-padding-top: 85px;
}
html, body {
    width: 100%;
}
body {
    color: dimgray;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    margin: 0 auto;
    /* display: grid;
    grid-template: auto auto auto / 100%;
    grid-template-areas: "header"
                         "main"
                         "footer"; */
}
.lastLetter {
    letter-spacing: 0;
}

/*      ---------------------        HEADER        ----------------------          */

header {
    /* grid-area: header; */
    width: 100%;
    height: auto;
    position: fixed;
    color: dimgray;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}
nav, .linkCont {
    max-width: 100%;
    height: auto;
}
a {
    color: dimgray;
    text-decoration: none;
}
.myName {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 5px; 
    word-spacing: 10px;
}
.myName:hover {
    color: rgb(146, 146, 146);
}
.myName, .linkCont {
    margin: 15px 0;
}
.linkCont {
    letter-spacing: 3px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.linkCont a:hover {
    color: rgb(192, 190, 190);
}


/*      ----------------------          MAIN            ----------------------          */

main {
    /* grid-area: main; */
    max-width: 100%;
}

.aboutCont, .portCont, .contactCont {     /*   top-bottom margin for mountain pics  */
    margin: 50px 0;
}

h4 {            /*  about, portfolio, contact  titles  */
    color: white;
    font-size: 1.5em;
    letter-spacing: 20px;

}
.titleH4 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0px;
}


/*      ----------------        BACKGROUNDS     ---------------          */

.aboutCont, .portCont, .contactCont {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutCont {
    background-image: url("../images/mountain1.1LOW.jpg");
    margin-top: 0 !important;
    padding-top: 90px;
}
.portCont {
    background-image: url("../images/mountain2LOW.jpg");
}
.contactCont {
    background-image: url("../images/mountain3LOW.jpg");  
}




/*      -----------------          ABOUT         ----------------       */

.aboutText  {
    width: 95%;
    margin: 0 auto;
    color: dimgray;
    line-height: 1.5em;
}
h6 {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 600;
}
h3 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
}


/*      -------------------     PORTFOLIO      ----------------          */


.portText{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.portText img {
    width: 70%;
    height: auto;
    border: 1px solid lightgrey;
    margin: 20px;
}
.kondor, .vcexp, .teacozy, .runclub {
    max-width: 80%;
    margin: 10px 0;
    border-bottom: 1px solid lightgrey;
}
h5 {
    font-size: 1em;
    font-weight: normal;
    color: dimgray;
    letter-spacing: 0.5em;
    /* margin-right: -0.5em; */
    word-spacing: 0.5em;
}
#visitSite {
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(230, 230, 230);
    padding: 15px 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 30px 0;
}
#visitSite:hover {
    background-color:rgb(211, 211, 211);
    
}

/*      ----------------     CONTACT    ----------------          */

.contactText {
    font-size: 1.1em;
    letter-spacing: 3px;
    word-spacing: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

}
/*      ------------- EMAIL / PHONE ---------------       */
.emailPhone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.emailPhone p {
    margin-bottom: 80px;
    width: 100%;
}

/*    -------------    FORM    --------------    */

.getIn {
    color: dimgray;
    letter-spacing: normal;
    margin-bottom: 25px;
    font-size: 1.6em;
}
form {
    /* margin-bottom: -50px; */
    width: 100%;
}
#submit {
    width: auto;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 30px;
    border: 0;
    background-color: rgb(230, 230, 230);
    color: dimgrey;
    font-size: 0.8em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#submit:hover {
    background-color: rgb(211, 211, 211);
}
/* --------------------------*/
label {
    display:block;
    margin-top:20px;
    padding: 10px;
    letter-spacing:2px;
    text-align: left;
}
/* label, input {
    width: 100%;
} */
#name, #email, #message, textarea {
	/* width:439px;*/
    width: 95%;
    height: 20px;
	background: rgba(238, 238, 238, 0.493);
	border:1px solid #dedede;
	padding:10px;
    margin-top:3px;
    /* margin: 10px; */
    font-size:0.9em;
    border-radius: 5px;
}
#message {
	height:100px;
}

/*------------------------------*/

/*      ----------------------          FOOTER            ----------------------          */

footer {
    /* grid-area: footer; */
    max-width: 100%;
    border-top: 1px solid lightgray;
    margin-top: 25px;
}
footer nav {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: center;
}
footer a {
    display: inline-block;
    margin: 10px 0px;
}
footer a:hover {
    color: rgb(192, 190, 190);
}

/*      ----------------------     DARK MODE TOGGLE     ------------------     */
.toggle {
    display: block;
}

.toggle img {
    width: 30px;
    height: auto;
    color: grey;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: rgba(190, 190, 190, 0.4);
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border: 0;
    cursor: pointer;    
}
.toggle img:hover {
    background-color: rgba(220, 220, 220, 0.5);
}

/*    -----------------   DARK MODE    -----------------      */

.dark-mode {
    background-color: rgb(25, 25, 25);
    color: white;
  }

/*   -----------------   BIG SCREEN (at least 1000px)   -----------------     */

@media only screen and (min-width: 1000px) {
    nav {
        display: grid;
        grid-template: 1fr / 5fr 2fr 3fr;
        align-content: center;
    }
    .myName {
        font-size: 2.5em;
        font-weight: 600;
        letter-spacing: 15px;
        word-spacing: 20px;
        align-self: center;
        justify-self: center;
        margin: 0;
        /* padding-left: 100px; */
    }
    .linkCont {
        align-self: center;
        grid-area: 1 / 3 / 2 / 4;
    }
    .myName, .linkCont {
        margin: 30px 0;
    }
    .aboutCont, .portCont, .contactCont {
        height: 350px;
    }

    /*-------------------------*/

    .portText{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .portLinkTitle {
        /* width: 500px; */
    }
    .portText img {
        width: 500px;
        height: auto;
        border: 1px solid lightgrey;
        margin: 0;
    }
    .kondor, .vcexp, .teacozy, .runclub {
        width: 60%;
        margin: 40px 0;
        border-bottom: 1px solid lightgrey;
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    h5 {
        font-size: 1.5em;
    }

    /* --------------      CONTACT      -------------*/
    .contactText {
        margin: 100px 0;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        font-size: 1.2em;
        letter-spacing: 0.3em;
        word-spacing: 0.8em;
    }
    form {
        width: auto;
    }
    
    .emailPhone {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
    }
    .emailPhone p {
        /* margin-bottom: 80px; */
        width: 100%;
    }

    .aboutText {
        max-width: 60%;
    }
    .titleH4 {
        padding: 40px;
    }
    h4 {
        font-size: 3em;
        letter-spacing: 1.5em;
    }


    

    /* -------- HIGH-RES BACKGROUNDS -------- */

    .aboutCont {
        background-image: url("../images/mountain1.1.jpg");
        margin-top: 0 !important;
        padding-top: 90px;
    }
    .portCont {
        background-image: url("../images/mountain2.jpg");
    }
    .contactCont {
        background-image: url("../images/mountain3.jpg");  
    }
}